.css-ffhzg2{
    background : rgb(59, 59, 114);
    /* color: red; */
}

.css-1avcm0n{
    background-color: wheat;
}

.element-container and .css-nahz7x and .esravye2{
    color: red;
}

.expand-trigger{
    color: yellow;
    font-size: 50px;
}

.withScreencast{
    color: red;
}
div.element-container.css-1hynsf2.esravye2{
    color: pink;
}

div.css-9ycgxx.eqdbnj012{
    color: red;
}

.p{
    color: orange;
}